<div class="jumbotron">
    <h1>About me</h1>
    <h4 class="lead">A quick and small introduction about me as a person.</h4>
    <p>
        I'm Dean Anthonijsz born in the year 2000 in the city Den Helder in the Netherlands,
        I have started my mbo-4 in the beginning of 2021 and
        <!--Change when time--> 
        aim the finish it
        before the end of 2023.
        <!--Change when time-->
        My interests have always been at programming and coding, from creating little games in python
        or creating bigger games in Unity when i became older. So far my interest has yet to settle for
        a specific topic and or language, be it game development or web development. Both making webapps and games have
        peaked my interest so far. Though I can not confidently say what topic I want to focus on, I am certain
        that C# is so far my favourite language. Something in C# just works for me and the endless possibilities
        sure didn't make it a hard choice for me personally.
    </p>
    <div class="row">
        <div class="col-md-4">
            <h2>Bullet points</h2>
            <p>
                Some small bullet points.
            </p>
            <ul>
                <li>
                    Age : @ViewBag.AgeAboutMe
                </li>
                <li>Country : Netherlands</li>
                <li>City : Den Helder</li>
                <li>Education : MBO-4 software development</li>
                <li>Certificates :
                <ul>
                    <li>MTA html/css</li>
                    <li>Basic firefighting</li>
                    <li>Survival on sea</li>
                    <li>Basic first aid</li>
                </ul>
                <li>Internships : </li>
                <li>Prior jobs : </li>
            </ul>
        </div>
    </div>
    <h2>Dynamic</h2>
    <p>
        One of the things that I love is being dynamic in my code, even the little things like my age in the bullet points,
        and C# gives me the ability to do that.
    </p>
</div>