@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    North Holland, Den Helder<br />
    <abbr title="Phone">P:</abbr>
    +31625345671
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@dma.com</a><br />
    <strong>Personal:</strong> <a href="mailto:Marketing@example.com">Personal@dma.com</a>
</address>