@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>About me</h1>
    <p class="lead">An introduction about me as a person.</p>
    <p><a class="btn btn-default" href="/Home/About">Read more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Home projects</h2>
        <p>
            Projects i made from home for fun.
        </p>
        <p><a class="btn btn-default" href="HomeProjects">Read more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Educational projects</h2>
        <p>
            Projects i made for both my internships and my education.
        </p>
        <p><a class="btn btn-default" href="EducationalProjects">Read more &raquo;</a></p>
    </div>
</div>